.coditions-inner{
    height: 800px;
    text-align: center;
}

.conditions-inner__title{
    margin-top: 600px;
    color: white;
    font-family: $main-font-family;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}

.conditions-inner__title__span{
    font-family: $main-font-family;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: #EDC5A2;
}